@import 'global-styles.scss';

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  margin: 0;
  background-color: $background-color-primary;
  color: $text-color-primary;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
